.btn-primary {
    background: #FF9900;
    border: 0;
    padding: 15px 40px 15px 40px;
    font-size: 16px;
    font-family: Poppins;
    font-weight: bold;
}

.btn-primary:hover {
    background: rgb(219, 133, 4);
    border: 0;
}

.btn-secondary {
    background: none;
    border: 1px solid #BCD0E5;
    padding: 15px 40px 15px 40px;
    color: #000;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 300;
    margin-right: 5px;
}

.herobwa h1 {
    font-family: Poppins;
    font-weight: 700;
}

.herobwa p {
    font-family: Poppins;
    font-weight: 400;
}